<?xml version='1.0'?>

<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find udacity_bot)/urdf/my_robot_xacro_defs.xacro" />
    <xacro:include filename="$(find udacity_bot)/urdf/my_robot_static_links.xacro" />
    <xacro:include filename="$(find udacity_bot)/urdf/my_robot_wheels.xacro" />  
    <xacro:include filename="$(find udacity_bot)/urdf/my_robot_gazebo_tags.xacro" />
</robot>
